.container {
    border: 1px solid black;
    height: 500px;
    width: 500px
}
.div1 {
background-color: green;
border: 1px solid black;
display: flex;
margin: 10px;
height:200px;
width: 350px;
align-items: center;

}
.div2 {
    background-color: green;
border: 1px solid black;
display: flex;
margin: 10px;
height:200px;
width: 350px;
align-items: center;
}
p{
    margin: 120px;
}
